.view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.view img {
  width: 390px;
  height: 390px;
}

.containerDados {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 570px;
  margin: 20px;
}

.containerDados div h3 {
  background-color: greenyellow;
  color: #000;
  font-weight: bold;
  font-family: 22px;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

h1 {
  font-size: 35px;
  text-transform: uppercase;
}

.containerDados div h3 span {
  color: #000;
}

.back {
  margin-bottom: 30px;
  padding: 5px;
  background-color: rgb(75, 143, 233);
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 2px 3px 5px rgb(75, 143, 233);
}
