.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #333;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgb(75, 143, 233);
}
.card h2 {
  padding: 10px 5px;
  text-transform: uppercase;
}

.card img {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.card a {
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(75, 143, 233);
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #333;
}
.card a:hover {
  background-color: #fff;
  color: rgb(75, 143, 233);
  transition: 0.4s;
}

.card p {
  font-size: 16px;
  font-weight: bold;
}
.card:hover {
  font-size: 22px;
}
